/* navbar.css */

html {
  background-color: rgba(2, 51, 127, 0.0);
}

/* Navbar com fundo totalmente visível */
.navbar {
  background-color: rgba(2, 51, 127, 1); /* Cor totalmente visível */
  transition: background-color 0.3s ease; /* Transição suave */
  position: fixed; /* Fica fixo no topo da página */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Garante que a navbar fique sobre outros elementos */
}

/* Navbar com fundo transparente */
.navbar.transparent {
  background-color: rgba(2, 51, 127, 0.5); /* Cor transparente */
}

/* Outros estilos permanecem inalterados */
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-logo {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
}

.navbar-title {
  font-size: 24px;
  font-weight: 600;
  margin-left: 8px;
}

.navbar-subtitle {
  color: #ebc829; /* Dourado */
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px;
}

.navbar-icon {
  width: 24px;
  height: 18px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

.navbar-menu-list li {
  margin: 0;
}

.navbar-menu-link {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  display: block;
  transition: color 0.3s, background-color 0.3s;
}

.navbar-menu-link:hover {
  color: #ebc829;
  background-color: #333;
}

.navbar-divider {
  border: none;
  border-top: 1px solid white;
  margin: 4px 0;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar-toggle {
    display: inline-flex;
  }
  
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px; /* Ajuste com base na altura da navbar */
    left: 0;
    background-color: rgba(2, 51, 127, 1);
    padding: 16px;
  }

  .navbar-menu-open {
    display: flex;
  }

  .navbar-menu-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .navbar-menu-list li {
    margin-bottom: 8px;
  }
}
